# Operating System-specific files
## macOS
.DS_Store

## Linux
*.swp
*~

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python-related files
## Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*$py.class
__pycache__/

## C extensions
*.so

## Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

## Installer logs
pip-log.txt
pip-delete-this-directory.txt

## PEP 582
__pypackages__/

## PyBuilder
.pybuilder/
target/

## Type checkers and static analyzers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

## Cython
cython_debug/

## Other Python tools
.pdm.toml
.pdm-python
.pdm-build/

# Python project-specific files
## Django
*.log
*.pot
*.py[cod]
db.sqlite3
db.sqlite3-journal
local_settings.py
media/

## Flask
instance/
.webassets-cache

## Celery
celerybeat-schedule
celerybeat.pid

## Scrapy
.scrapy

## SageMath
*.sage.py

## Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

## Jupyter Notebook
.ipynb_checkpoints

## IPython
profile_default/
ipython_config.py

# Documentation
## Sphinx
docs/_build/

## mkdocs
/site

# IDE/editor-specific files
## JetBrains (PyCharm, IntelliJ, etc.)
.idea/

## VS Code
.vscode/

## Sublime Text
*.sublime-project
*.sublime-workspace

## Spyder
.spyderproject
.spyproject

## Rope
.ropeproject

# Logs and temporary files
logs/
*.out
*.pid
*.gz
*.dump

# Node.js / Frontend-related files
## Node modules
node_modules/

## Frontend build tools
*.map
*.lock
npm-debug.log
yarn-error.log
yarn-debug.log*

## Local static files
assets/
frontend-build/

# Heroku
*.env
*.env.*

# Temporary files and backups
*.swo
*.bak

# PyPI configuration
.pypirc

# Other
.vercel
