<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Amir Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- BootStrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

<div class="main-container">
   
<!-- ======= Mobile nav toggle button ======= -->
<i id="mobile-nav-toggle" class="bi bi-list mobile-nav-toggle d-xl-none mobile-nav-active"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light">Amir Sarrafzadeh Arasi</h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.linkedin.com/in/amir-sarrafzadeh/" class="linkedin" target="_blank"><i
                        class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/AmirSarrafzadeh" class="github" target="_blank"><i
                        class="bx bxl-github"></i></a>
            </div>

        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a>
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i>
                    <span>Projects</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<header id="header-mobile">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light">Amir Sarrafzadeh Arasi</h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.linkedin.com/in/amir-sarrafzadeh/" class="linkedin" target="_blank"><i
                        class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/AmirSarrafzadeh" class="github" target="_blank"><i
                        class="bx bxl-github"></i></a>
            </div>

        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Skills</span></a>
                </li>
                <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i>
                    <span>Projects</span></a></li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main id="main">

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <p><span class="typed" data-typed-items="Welcome to my Website!"></span></p>
    </div>
</section>




    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>About Me</h2>
                <p>Hello!
                    My name is Amir Sarrafzadeh Arasi, and I am a 36-year-old Senior Software Engineer living in
                    the stunning city of Rome, Italy.
                    Originally from Tabriz, Iran, I bring a rich cultural background
                    and deep enthusiasm for technology to my work and life.</p>

                <p>Life has been an exciting journey for me, filled with opportunities to grow, learn, and adapt.
                    Since
                    I was a child, I’ve been curious about how things work and loved solving puzzles and problems.
                    This
                    curiosity naturally led me to a career in software development, where I get to use my
                    problem-solving skills every day.
                    I believe in lifelong learning, and I am always eager to improve
                    myself and try new things.</p>

                <p>When I’m not working, I enjoy exploring activities that challenge both my mind and body.
                    I love
                    playing chess, which helps me think strategically, and billiards, which is a fun way to relax.
                    Reading is another passion of mine, and I especially enjoy books that teach me new things or give me
                    a fresh perspective on life.
                    Coding, even outside of work, is a hobby I truly enjoy because it lets
                    me be creative and experiment with new ideas.</p>

                <p>Spending time in nature is important to me, and camping is one of my favorite ways to relax and
                    recharge.
                    Going to the gym regularly keeps me disciplined and helps me stay healthy, both physical
                    and mentally.
                    These activities give me the balance I need to handle life’s challenges with a clear
                    and focused mind.</p>

                <p>One thing people often notice about me is my calmness, even when faced with challenging situations.
                    I
                    believe staying calm and focused is key to solving problems effectively.
                    I’m also a team player who
                    enjoys working with others to achieve shared goals.
                    Collaboration brings out the best in me, and I
                    find it rewarding to contribute to a group’s success.</p>

                <p>Challenges don’t intimidate me, they motivate me.
                    I see them as opportunities to learn and grow.
                    Whether it’s in my personal life or career, I approach every task with determination and a positive
                    attitude.
                    I believe that with hard work and the right mindset, anything is possible.</p>

                <p>Thank you for taking the time to read about me.
                    I’m excited about the future and look forward to
                    connecting with new people and sharing ideas.
                    Let’s create something amazing together!</p>

            </div>
        </div>
    </section>

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Work Experience</h2>
                <div class="job">
                    <h2>Senior Software Engineer</h2>
                    <h3>WhereTech S.r.l. | Rome, Italy | May 2021 - Present</h3>
                    <ul>
                        <li>Developed and optimized geoprocessing services using ArcGIS API for Python.</li>
                        <li>Designed and maintained RESTful APIs using Django and FastAPI frameworks.</li>
                        <li>Managed and enhanced geospatial databases such as PostgreSQL, MySQL, and MongoDB.</li>
                        <li>Implemented microservices architecture using RabbitMQ and Java technologies.</li>
                        <li>Created real-time data processing solutions with GeoEvent Server and ModelBuilder.</li>
                        <li>Create dynamic, data-driven symbology and labeling in ArcGIS using Arcade expressions.</li>
                        <li>Build spatial data migration tools for transferring and migrating GIS data.</li>
                        <li>Implement and Test RESTful endpoints using Pytest, Locust.</li>
                        <li>Implement SOIs and SOEs utilizing ArcGIS Enterprise SDK. (Java, Apache Maven)</li>
                        <li>Develop complex geospatial queries and calculations in ArcGIS Pro using Arcade and Python.
                        </li>
                        <li>Develop custom Python Scripts to Geo-Spatial Data Analysis.</li>
                    </ul>
                </div>

                <div class="job">
                    <h2>Guest Researcher</h2>
                    <h3>Technical University of Denmark (DTU) | Kongens Lyngby, Denmark | Dec 2020 - May 2021</h3>
                    <ul>
                        <li>Analyzed GeoLife and GPS datasets to develop algorithms for motion detection and travel
                            behavior.
                        </li>
                        <li>Created deep learning models for transportation mode classification.</li>
                        <li>Designed data visualization tools using Leaflet and GeoPandas.</li>
                    </ul>
                </div>

                <div class="job">
                    <h2>Junior Software Engineer (Internship)</h2>
                    <h3>Movesion S.r.l. | Rome, Italy | Sep 2019 - Dec 2020</h3>
                    <ul>
                        <li>Developed algorithms for transport mode detection within a mobility application.</li>
                        <li>Implemented machine learning models to calculate CO2 emissions and analyze user
                            trajectories.
                        </li>
                        <li>Preprocessed smartphone sensor data for user behavior modeling.</li>
                        <li>Collect and analyze geospatial data for each single user.</li>
                    </ul>
                </div>
                <h2>Education Background</h2>
                <div class="education-item">
                    <h2>Master's in Transport Systems Engineering</h2>
                    <h3>Sapienza University of Rome | Rome, Italy | Sep 2018 - Jul 2021</h3>
                    <ul>
                        <li>Specialized in transportation systems, data analytics, and software development.</li>
                        <li>Conducted research on sustainable transportation and smart mobility solutions.</li>
                        <li>Developed a thesis focusing on integrating machine learning models for transport mode
                            detection.
                        </li>
                        <li>Graduated with distinction, demonstrating strong academic and project management skills.
                        </li>
                    </ul>
                </div>

                <div class="education-item">
                    <h2>Bachelor's in Civil Engineering</h2>
                    <h3>Azad University of Tabriz | Tabriz, Iran | Sep 2006 - Feb 2012</h3>
                    <ul>
                        <li>Focused on concrete and steel structures, transportation planning, and road engineering.
                        </li>
                        <li>Acquired foundational knowledge in engineering principles and problem-solving techniques.
                        </li>
                        <li>Completed a capstone project on urban road network optimization and management.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="skills" class="skills section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Skills</h2>
                <h6>Backend Skills</h6>
                <div class="skills-grid">
                    <a href="https://fastapi.tiangolo.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/FastAPI.svg' %}" alt="FastAPI">
                    </a>
                    <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/django.svg' %}" alt="Django">
                    </a>
                    <a href="https://developers.arcgis.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/esri.png' %}" alt="ArcGIS API">
                    </a>
                    <a href="https://www.java.com/en/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/java.svg' %}" alt="Java">
                    </a>
                    <a href="https://microservices.io/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/microservice.png' %}" alt="Microservices">
                    </a>
                </div>
                <h6>Database Skills</h6>
                <div class="skills-grid">
                    <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/postgresql.svg' %}" alt="PostgreSQL">
                    </a>
                    <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/mysql.png' %}" alt="MySQL">
                    </a>
                    <a href="https://www.mongodb.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/Mongodb.svg' %}" alt="MongoDB">
                    </a>
                    <a href="https://firebase.google.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/firebase.svg' %}" alt="Firebase">
                    </a>
                    <a href="https://redis.io/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/redis.svg' %}" alt="Redis">
                    </a>
                </div>
                <h6>Frontend Skills</h6>
                <div class="skills-grid">
                    <a href="https://html.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/html.svg' %}" alt="HTML">
                    </a>
                    <a href="https://www.w3schools.com/css/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/css.svg' %}" alt="CSS">
                    </a>
                    <a href="https://www.javascript.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/javascript.svg' %}" alt="JavaScript">
                    </a>
                    <a href="https://streamlit.io/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/streamlit.svg' %}" alt="Streamlit">
                    </a>
                </div>
                <h6>Software Skills</h6>
                <div class="skills-grid">
                    <a href="https://www.esri.com/en-us/arcgis/products/arcgis-pro/overview" target="_blank"
                       rel="noopener noreferrer">
                        <img src="{% static 'img/skills/arcgis-pro.jpeg' %}" alt="ArcGIS Pro">
                    </a>
                    <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/docker.svg' %}" alt="Docker">
                    </a>
                    <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/git.svg' %}" alt="Git">
                    </a>
                    <a href="https://swagger.io/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/swagger.svg' %}" alt="Swagger">
                    </a>
                    <a href="https://maven.apache.org/" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/maven.svg' %}" alt="Apache Maven">
                    </a>
                </div>
                <h6>OS Skills</h6>
                <div class="skills-grid">
                    <a href="https://www.microsoft.com/en-us" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/skills/windows.svg' %}" alt="Windows">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Projects</h2>
            </div>

            <div class="projects-grid">
                <div class="project-card">
                    <h3>Evolution of the RNDT Platform - FASTWEB</h3>
                    <p><strong>Duration:</strong> 03/06/2024 – Current</p>
                    <ul>
                        <li>Develop RESTful APIs using Geoportal server for National Catalog for Spatial Data (RNDT)
                            portal.
                        </li>
                        <li>Analyze and visualize geospatial metadata for different regions of Italy.</li>
                        <li>Design and maintain the database for metadata collection and extraction.</li>
                        <li>Harvest metadata from old portal to the new one.</li>
                        <li>Fetch data related to geographic metadata utilizing Elasticsearch and store results in DB.
                        </li>
                    </ul>
                    <p><strong>Technologies:</strong> Java, Geoportal Server 2.7.1, Elasticsearch, Kibana, MySQL Server,
                        Bitbucket, Jira</p>
                    <a href="https://geodati.gov.it/geoportale/eng/" target="_blank" class="project-link">View
                        Project</a>
                </div>

                <div class="project-card">
                    <h3>ResJet (Petrol Distribution and Monitoring Web Application)</h3>
                    <p><strong>Duration:</strong> 10/07/2024 – Current</p>
                    <ul>
                        <li>Design and model database structures, including tables and schemas.</li>
                        <li>Migrate data from old DB (SQL Server) to new DB (PostgreSQL).</li>
                        <li>Ensure database design supports application and business processes.</li>
                    </ul>
                    <p><strong>Technologies:</strong> MySQL Server, PostgreSQL, DBeaver, Python, Jira, Git</p>
                </div>

                <div class="project-card">
                    <h3>Trucks Supervision During Their Journey to the Warehouse</h3>
                    <p><strong>Duration:</strong> 19/01/2024 – 06/06/2024</p>
                    <ul>
                        <li>Develop and maintain GeoEvent services for real-time data processing.</li>
                        <li>Implement geo-triggers to monitor truck positions within defined zones.</li>
                        <li>Send alerts for abnormal activities like stops or exiting zones.</li>
                    </ul>
                    <p><strong>Technologies:</strong> Python, GeoEvent Services, RabbitMQ, Java, Apache Maven, Git, Jira
                    </p>
                </div>

                <div class="project-card">
                    <h3>Puglia Sewer Water Management</h3>
                    <p><strong>Duration:</strong> 15/04/2023 – 01/02/2024</p>
                    <ul>
                        <li>Map and analyze the sewer network and surrounding environment.</li>
                        <li>Implement and monitor water treatment processes to ensure quality standards.</li>
                        <li>Design and develop microservices to regularly check water levels and manhole situations.
                        </li>
                        <li>Develop geoprocessing tools to analyze data and send reports to clients.</li>
                    </ul>
                    <p><strong>Technologies:</strong> ArcGIS Pro, ArcGIS Utility Network, Python (FastAPI), RabbitMQ,
                        PostgreSQL, Git, Jira</p>
                </div>

                <div class="project-card">
                    <h3>Enel Meteorological Data</h3>
                    <p><strong>Duration:</strong> 12/02/2022 – 04/02/2023</p>
                    <ul>
                        <li>Design and develop a meteorological data processing system.</li>
                        <li>Design RESTful APIs for collecting meteorological data from the Meteomatics API.</li>
                        <li>Send alert emails to responsible parties in the event of abnormal conditions.</li>
                        <li>Collect and manage meteorological data and send it to the front-end for visualization.</li>
                    </ul>
                    <p><strong>Technologies:</strong> Python (FastAPI), Java, Apache Maven, HTML5, CSS, GeoEvent
                        Services, Apache Kafka, Git</p>
                </div>

                <div class="project-card">
                    <h3>Public Administration Geo-Spatial Filter</h3>
                    <p><strong>Duration:</strong> 07/10/2021 – 03/12/2021</p>
                    <ul>
                        <li>Implement a Server Object Interceptor (SOI) for ArcGIS Server.</li>
                        <li>Filter map service requests based on user group membership.</li>
                        <li>Handle user authorization and token authentication.</li>
                    </ul>
                    <p><strong>Technologies:</strong> ArcGIS Enterprise SDK, Java, Apache Maven, Apache HttpComponents,
                        OAuth 2.0, Git</p>
                </div>

            </div>

        </div>

    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <form method="POST" action="#contact" class="contact-form" id="contactForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% if success_message %}
                <div id="successMessage" style="color: green; font-weight: bold;">
                    {{ success_message }}
                </div>
            {% endif %}

        </div>
    </section>

</main> 
</div>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>


<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

<!--Boot Strap link-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

</body>

</html>